USE [master]
GO
/****** Object:  Database [PracticeIR330]    Script Date: 07.12.2022 11:20:16 ******/
CREATE DATABASE [PracticeIR330]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PracticeIR330', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\PracticeIR330.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PracticeIR330_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\PracticeIR330_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PracticeIR330].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PracticeIR330]
GO
/****** Object:  Table [dbo].[Дома]    Script Date: 07.12.2022 11:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Дома](
	[Id] [tinyint] NOT NULL,
	[Город] [nvarchar](50) NULL,
	[Улица] [nvarchar](50) NULL,
	[Дом] [tinyint] NULL,
	[Номер] [nvarchar](1) NULL,
	[Широта] [tinyint] NULL,
	[Долгота] [tinyint] NULL,
	[Количество_этажей] [tinyint] NULL,
	[Площадь] [nvarchar](50) NULL,
 CONSTRAINT [PK_Дома] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Земли]    Script Date: 07.12.2022 11:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Земли](
	[Id] [tinyint] NOT NULL,
	[Город] [nvarchar](50) NULL,
	[Улица] [nvarchar](50) NULL,
	[Дом] [nvarchar](1) NULL,
	[Номер] [nvarchar](1) NULL,
	[Широта] [tinyint] NULL,
	[Долгота] [tinyint] NULL,
	[Площадь] [nvarchar](50) NULL,
 CONSTRAINT [PK_Земли] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Квартиры]    Script Date: 07.12.2022 11:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Квартиры](
	[Id] [tinyint] NOT NULL,
	[Город] [nvarchar](50) NULL,
	[Улица] [nvarchar](50) NULL,
	[Дом] [tinyint] NULL,
	[Номер] [tinyint] NULL,
	[Широта] [tinyint] NULL,
	[Долгота] [tinyint] NULL,
	[Площадь] [varchar](50) NULL,
	[Комнаты] [tinyint] NULL,
	[Этаж] [tinyint] NULL,
 CONSTRAINT [PK_Квартиры] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 07.12.2022 11:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[Id] [tinyint] NOT NULL,
	[Фамилия] [nvarchar](50) NULL,
	[Имя] [nchar](10) NULL,
	[Отчество] [nvarchar](50) NULL,
	[Телефон] [nvarchar](50) NULL,
	[Электронная_почта] [nvarchar](50) NULL,
 CONSTRAINT [PK_Клиенты] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Потребности в доме]    Script Date: 07.12.2022 11:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Потребности в доме](
	[Id] [tinyint] NOT NULL,
	[Город] [nvarchar](1) NULL,
	[Улица] [nvarchar](1) NULL,
	[Дом] [nvarchar](1) NULL,
	[Номер] [nvarchar](1) NULL,
	[Минимальная_цена] [nvarchar](1) NULL,
	[Максимальная_цена] [nvarchar](1) NULL,
	[Код_риэлтора] [tinyint] NOT NULL,
	[Код_клиента] [tinyint] NOT NULL,
	[Минимальныц_этаж] [nvarchar](1) NULL,
	[Максимальный_этаж] [nvarchar](1) NULL,
	[Минимальная_площадь] [nvarchar](1) NULL,
	[Максимальная_площадь] [nvarchar](1) NULL,
	[Минимальное_количество_комнат] [nvarchar](1) NULL,
	[Максимальное_количество_комнат] [nvarchar](1) NULL,
 CONSTRAINT [PK_Потребность в домах] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Потребности в земле]    Script Date: 07.12.2022 11:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Потребности в земле](
	[Id] [tinyint] NOT NULL,
	[Город] [nvarchar](1) NULL,
	[Улица] [nvarchar](1) NULL,
	[Дом] [nvarchar](1) NULL,
	[Номер] [nvarchar](1) NULL,
	[Минимальная_цена] [nvarchar](1) NULL,
	[Максимальная_цена] [nvarchar](1) NULL,
	[Код_риэлтора] [tinyint] NOT NULL,
	[Код_клиента] [tinyint] NOT NULL,
	[Минимальная_площадь] [nvarchar](1) NULL,
	[Максимальная_площадь] [nvarchar](1) NULL,
 CONSTRAINT [PK_Потребности в земле] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Потребности в квартире]    Script Date: 07.12.2022 11:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Потребности в квартире](
	[Id] [tinyint] NOT NULL,
	[Город] [nvarchar](50) NULL,
	[Улица] [nvarchar](50) NULL,
	[Дом] [nvarchar](1) NULL,
	[Номер] [nvarchar](1) NULL,
	[Минимальная_цена] [nvarchar](1) NULL,
	[Максимальная_цена] [int] NULL,
	[Код_риэлтора] [tinyint] NOT NULL,
	[Код_клиента] [tinyint] NOT NULL,
	[Минимальная_площадь] [tinyint] NULL,
	[Максимальная_площадь] [nvarchar](1) NULL,
	[Минимальное_количество_комнат] [tinyint] NULL,
	[Максимальное_количество_комнат] [nvarchar](1) NULL,
	[Минимальное_количество_этажей] [tinyint] NULL,
	[Максимальное_количество_этажей] [tinyint] NULL,
 CONSTRAINT [PK_Потребности в квартире] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Предложение]    Script Date: 07.12.2022 11:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Предложение](
	[Id] [tinyint] NOT NULL,
	[Цена] [int] NOT NULL,
	[Код_риэлтора] [tinyint] NOT NULL,
	[Код_клиента] [tinyint] NOT NULL,
	[Код_типа_недвижимости] [tinyint] NOT NULL,
 CONSTRAINT [PK_Предложение] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Районы]    Script Date: 07.12.2022 11:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Районы](
	[Имя] [nvarchar](50) NOT NULL,
	[Площадь] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Риэлторы]    Script Date: 07.12.2022 11:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Риэлторы](
	[Id] [tinyint] NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NOT NULL,
	[Доля_от_комиссии] [tinyint] NULL,
 CONSTRAINT [PK_Риэлторы] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сделки]    Script Date: 07.12.2022 11:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сделки](
	[Id] [tinyint] NOT NULL,
	[Код_потребности] [tinyint] NOT NULL,
	[Код_предложения] [tinyint] NOT NULL,
 CONSTRAINT [PK_Сделки] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Дома] ([Id], [Город], [Улица], [Дом], [Номер], [Широта], [Долгота], [Количество_этажей], [Площадь]) VALUES (9, N'Тюмень', N'1-й Заречный', 25, NULL, 0, 0, 2, N'84.4')
INSERT [dbo].[Дома] ([Id], [Город], [Улица], [Дом], [Номер], [Широта], [Долгота], [Количество_этажей], [Площадь]) VALUES (10, N'Тюмень', N'Ялyтopoвcкий тpaкт', NULL, NULL, 0, 0, 3, N'130')
INSERT [dbo].[Дома] ([Id], [Город], [Улица], [Дом], [Номер], [Широта], [Долгота], [Количество_этажей], [Площадь]) VALUES (11, N'Тюмень', N'Березняковский п', NULL, NULL, 0, 0, 1, N'120')
GO
INSERT [dbo].[Земли] ([Id], [Город], [Улица], [Дом], [Номер], [Широта], [Долгота], [Площадь]) VALUES (12, N'Тюмень', N'Луговое', NULL, NULL, 0, 0, N'20.3')
INSERT [dbo].[Земли] ([Id], [Город], [Улица], [Дом], [Номер], [Широта], [Долгота], [Площадь]) VALUES (13, N'Тюмень', N'Алексеевский хутор', NULL, NULL, 0, 0, N'12.45')
INSERT [dbo].[Земли] ([Id], [Город], [Улица], [Дом], [Номер], [Широта], [Долгота], [Площадь]) VALUES (14, N'Тюмень', N'Суходольский мкр', NULL, NULL, 0, 0, N'12')
GO
INSERT [dbo].[Квартиры] ([Id], [Город], [Улица], [Дом], [Номер], [Широта], [Долгота], [Площадь], [Комнаты], [Этаж]) VALUES (1, N'Тюмень', N'Энергостроителей', 25, 12, 0, 0, N'41,7', 1, 3)
INSERT [dbo].[Квартиры] ([Id], [Город], [Улица], [Дом], [Номер], [Широта], [Долгота], [Площадь], [Комнаты], [Этаж]) VALUES (2, N'Тюмень', N'Елизарова', 8, 44, 0, 0, N'105', 3, 5)
INSERT [dbo].[Квартиры] ([Id], [Город], [Улица], [Дом], [Номер], [Широта], [Долгота], [Площадь], [Комнаты], [Этаж]) VALUES (3, N'Тюмень', N'Московский тракт', 139, 6, 0, 0, N'62', 3, 2)
GO
INSERT [dbo].[Клиенты] ([Id], [Фамилия], [Имя], [Отчество], [Телефон], [Электронная_почта]) VALUES (2, N'Семенов', NULL, N'Николаевич', N'32-25-55', NULL)
INSERT [dbo].[Клиенты] ([Id], [Фамилия], [Имя], [Отчество], [Телефон], [Электронная_почта]) VALUES (3, N'Денисова', NULL, N'Леонидовна', NULL, N'dummy@email.ru')
INSERT [dbo].[Клиенты] ([Id], [Фамилия], [Имя], [Отчество], [Телефон], [Электронная_почта]) VALUES (5, N'Сафронов', NULL, N'Вячеславович', NULL, N'client@esoft.tech')
GO
INSERT [dbo].[Потребности в доме] ([Id], [Город], [Улица], [Дом], [Номер], [Минимальная_цена], [Максимальная_цена], [Код_риэлтора], [Код_клиента], [Минимальныц_этаж], [Максимальный_этаж], [Минимальная_площадь], [Максимальная_площадь], [Минимальное_количество_комнат], [Максимальное_количество_комнат]) VALUES (2, NULL, NULL, NULL, NULL, NULL, NULL, 4, 16, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Потребности в доме] ([Id], [Город], [Улица], [Дом], [Номер], [Минимальная_цена], [Максимальная_цена], [Код_риэлтора], [Код_клиента], [Минимальныц_этаж], [Максимальный_этаж], [Минимальная_площадь], [Максимальная_площадь], [Минимальное_количество_комнат], [Максимальное_количество_комнат]) VALUES (3, NULL, NULL, NULL, NULL, NULL, NULL, 19, 10, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Потребности в земле] ([Id], [Город], [Улица], [Дом], [Номер], [Минимальная_цена], [Максимальная_цена], [Код_риэлтора], [Код_клиента], [Минимальная_площадь], [Максимальная_площадь]) VALUES (4, NULL, NULL, NULL, NULL, NULL, NULL, 15, 12, NULL, NULL)
INSERT [dbo].[Потребности в земле] ([Id], [Город], [Улица], [Дом], [Номер], [Минимальная_цена], [Максимальная_цена], [Код_риэлтора], [Код_клиента], [Минимальная_площадь], [Максимальная_площадь]) VALUES (5, NULL, NULL, NULL, NULL, NULL, NULL, 1, 14, NULL, NULL)
GO
INSERT [dbo].[Потребности в квартире] ([Id], [Город], [Улица], [Дом], [Номер], [Минимальная_цена], [Максимальная_цена], [Код_риэлтора], [Код_клиента], [Минимальная_площадь], [Максимальная_площадь], [Минимальное_количество_комнат], [Максимальное_количество_комнат], [Минимальное_количество_этажей], [Максимальное_количество_этажей]) VALUES (1, NULL, NULL, NULL, NULL, NULL, NULL, 4, 23, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Потребности в квартире] ([Id], [Город], [Улица], [Дом], [Номер], [Минимальная_цена], [Максимальная_цена], [Код_риэлтора], [Код_клиента], [Минимальная_площадь], [Максимальная_площадь], [Минимальное_количество_комнат], [Максимальное_количество_комнат], [Минимальное_количество_этажей], [Максимальное_количество_этажей]) VALUES (6, N'Тюмень', NULL, NULL, NULL, NULL, 3100000, 7, 5, 20, NULL, NULL, NULL, 4, NULL)
INSERT [dbo].[Потребности в квартире] ([Id], [Город], [Улица], [Дом], [Номер], [Минимальная_цена], [Максимальная_цена], [Код_риэлтора], [Код_клиента], [Минимальная_площадь], [Максимальная_площадь], [Минимальное_количество_комнат], [Максимальное_количество_комнат], [Минимальное_количество_этажей], [Максимальное_количество_этажей]) VALUES (7, N'Тюмень', N'Широтная', NULL, NULL, NULL, NULL, 24, 25, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Предложение] ([Id], [Цена], [Код_риэлтора], [Код_клиента], [Код_типа_недвижимости]) VALUES (1, 2500000, 1, 2, 1)
INSERT [dbo].[Предложение] ([Id], [Цена], [Код_риэлтора], [Код_клиента], [Код_типа_недвижимости]) VALUES (2, 5000000, 7, 8, 3)
INSERT [dbo].[Предложение] ([Id], [Цена], [Код_риэлтора], [Код_клиента], [Код_типа_недвижимости]) VALUES (3, 1300000, 11, 12, 3)
GO
INSERT [dbo].[Районы] ([Имя], [Площадь]) VALUES (N'Лесная поляна с/о', N'((57.0731042147057,65.549416154359),(57.0745884264208,65.5493517813426),(57.0745884264208,65.5516048369151),(57.0725432372756,65.5515404638987),(57.0731042147057,65.549416154359))')
INSERT [dbo].[Районы] ([Имя], [Площадь]) VALUES (N'Марай ', N'((56.8549652558969,66.014590740761),(56.8566110370811,66.0143332486955),(56.860184483092,66.0265212064592),(56.8588679902234,66.0328726774065),(56.8566110370811,66.0313277250139),(56.8532723765529,66.0339884763566),(56.8532253510366,66.0188822751848),(56.8530842741093,66.0194830900041),(56.8549652558969,66.014590740761))')
INSERT [dbo].[Районы] ([Имя], [Площадь]) VALUES (N'Ольховое с/о', N'((56.9367892844497,65.8276850838403),(56.9354285777792,65.829616274331),(56.9356162644209,65.8304316658715),(56.9358039501145,65.8316762108544),(56.9373992402273,65.8348948616723),(56.9388302510096,65.8318478722314),(56.9367892844497,65.8276850838403))')
GO
INSERT [dbo].[Риэлторы] ([Id], [Фамилия], [Имя], [Отчество], [Доля_от_комиссии]) VALUES (1, N'Фахрутдинов', N'Роман', N'Рубинович', 20)
INSERT [dbo].[Риэлторы] ([Id], [Фамилия], [Имя], [Отчество], [Доля_от_комиссии]) VALUES (4, N'Устинов', N'Максим', N'Алексеевич', 40)
INSERT [dbo].[Риэлторы] ([Id], [Фамилия], [Имя], [Отчество], [Доля_от_комиссии]) VALUES (7, N'Сысоева', N'Людмила', N'Валентиновна', 45)
GO
INSERT [dbo].[Сделки] ([Id], [Код_потребности], [Код_предложения]) VALUES (1, 1, 1)
INSERT [dbo].[Сделки] ([Id], [Код_потребности], [Код_предложения]) VALUES (2, 3, 2)
INSERT [dbo].[Сделки] ([Id], [Код_потребности], [Код_предложения]) VALUES (3, 5, 3)
GO
ALTER TABLE [dbo].[Потребности в доме]  WITH CHECK ADD  CONSTRAINT [FK_Потребности в доме_Клиенты] FOREIGN KEY([Код_клиента])
REFERENCES [dbo].[Клиенты] ([Id])
GO
ALTER TABLE [dbo].[Потребности в доме] CHECK CONSTRAINT [FK_Потребности в доме_Клиенты]
GO
ALTER TABLE [dbo].[Потребности в доме]  WITH CHECK ADD  CONSTRAINT [FK_Потребности в доме_Риэлторы] FOREIGN KEY([Код_риэлтора])
REFERENCES [dbo].[Риэлторы] ([Id])
GO
ALTER TABLE [dbo].[Потребности в доме] CHECK CONSTRAINT [FK_Потребности в доме_Риэлторы]
GO
ALTER TABLE [dbo].[Потребности в земле]  WITH CHECK ADD  CONSTRAINT [FK_Потребности в земле_Клиенты] FOREIGN KEY([Код_клиента])
REFERENCES [dbo].[Клиенты] ([Id])
GO
ALTER TABLE [dbo].[Потребности в земле] CHECK CONSTRAINT [FK_Потребности в земле_Клиенты]
GO
ALTER TABLE [dbo].[Потребности в земле]  WITH CHECK ADD  CONSTRAINT [FK_Потребности в земле_Риэлторы] FOREIGN KEY([Код_риэлтора])
REFERENCES [dbo].[Риэлторы] ([Id])
GO
ALTER TABLE [dbo].[Потребности в земле] CHECK CONSTRAINT [FK_Потребности в земле_Риэлторы]
GO
ALTER TABLE [dbo].[Потребности в квартире]  WITH CHECK ADD  CONSTRAINT [FK_Потребности в квартире_Клиенты] FOREIGN KEY([Код_клиента])
REFERENCES [dbo].[Клиенты] ([Id])
GO
ALTER TABLE [dbo].[Потребности в квартире] CHECK CONSTRAINT [FK_Потребности в квартире_Клиенты]
GO
ALTER TABLE [dbo].[Потребности в квартире]  WITH CHECK ADD  CONSTRAINT [FK_Потребности в квартире_Риэлторы] FOREIGN KEY([Код_риэлтора])
REFERENCES [dbo].[Риэлторы] ([Id])
GO
ALTER TABLE [dbo].[Потребности в квартире] CHECK CONSTRAINT [FK_Потребности в квартире_Риэлторы]
GO
USE [master]
GO
